.App {
    text-align: center;
  }
  
  .App-content {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .title{
    color: white;
  }
  .subtitle{
    color: white;
    width: 90%;
    text-align: justify;
    font-style: italic;
  }
  
  
  .row-gif{
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .col-gif{
    padding: 15px;
    overflow: hidden;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .banana{
      width: 45vw;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .banana{
      width: 45vw;
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .banana{
      width: 35vw;
    }
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .banana{
      width: 20vw;
    }
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .banana{
      width: 20vw;
    }
  }
  