.size{
    width: 60vw;
    margin-left: 19vw;
    border-radius: 8px;
    margin-top: 5vh;
    margin-bottom: 40vh;
    height: 70vh;
    background:transparent url(../../assets/gif/loading.gif) center no-repeat;
    background-size: contain;
}

.div{
    height: 150px;
    width: 200px;
}

.container-img{
    height: 100vh;
}